.form {
	max-width: 500px;
}

.form__label {
	display: block;
	margin-top: 16px;
	font-weight: 500;
}

.form__input,
.form__select,
.form__textarea {
	font-family: inherit;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 4px;
	width: 100%;
	box-sizing: border-box;
}

.form__textarea {
	min-height: 100px;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
	color: #505050;
	font-size: 1rem;
	font-weight: 500;
	font-family: "Outfit", sans-serif;
}
